@page
@model Cortado.API.Pages.Admin.IndexModel
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core - Admin</a>.</p>
</div>